<section>

  <article>
  <div class="row">
    <div class="col s12 m12">
    <h3>Interpolation</h3>

    <p>Endereço do site: {{ url }}</p>
    <p>Valor: {{ 3 + getValor() }}</p>
    </div>
  </div>
  </article>



  <!--<article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem2">
  </article>-->
  


<article>
  <div class="row">
    <div class="col s12 m12">
    <h3>Class and Style Binding</h3>
    </div>
  </div>

<!--        
  <div class="row">
    <label>Browser default Select</label>
    <select class="browser-default">
      <option value="" disabled selected>Select Fruit</option>
      <option value="1">Mango</option>
      <option value="2">Orange</option>
      <option value="3">Apple</option>
    </select>
  </div>-->
  <div class="row">
    <div class="col s2 m2">
    <label>Materialize Select</label>
    <select materialize="material_select" #selecao>
      <option value="" disabled selected>Select Shadow</option>
      <option value="1">Shadow 1</option>
      <option value="2">Shadow 2</option>
      <option value="3">Shadow 3</option>
      <option value="4">Shadow 4</option>
      <option value="5">Shadow 5</option>
    </select>  
    </div>             
  </div>

<div class="row">
  <div class="col s2 m2">
    <label> Teste Shadow 1</label>
    <div class="card-panel teal lighten-2" [class.z-depth-5]="selecao.value === '5'" [class.z-depth-4]="selecao.value === '4'" [class.z-depth-3]="selecao.value === '3'">
      This is a card panel with a teal lighten-2 class
    </div>
    <p class="z-depth-1">z-depth-1</p>
  </div>

  <div class="col s2 m2">
    <label> Teste Shadow 2</label>
    <div class="card-panel teal darken-5 z-depth-{{ selecao.value }}">
      This is a card panel with a teal lighten-2 class
    </div>
    <p class="z-depth-1">z-depth-1</p>
  </div>

    <div class="col s2 m2">
    <label> Teste Shadow 3</label>
    <div class="card-panel  pink accent-3 z-depth-4" [style.display]="selecao.value === '3' ? 'none' : 'block'">
      This is a card panel with a teal lighten-2 class
    </div>
    <p class="z-depth-1">z-depth-1</p>
  </div>

</div>  

</article>

</section>

<section>
  <article>

<div class="row">
  <div class="col s2 m2">

<h3>Event Binding</h3>

    <a class="btn-floating btn-large waves-effect waves-light red" (click)="bclick()">
      <i class="material-icons">add</i>
    </a>

  </div>

</div>  

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate"
                (keyup)="onKeyUp($event)"
                (keyup.enter)="onEnter($event.target.value)"
                (blur)="onEnter(cp.value)"
                #cp />
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
        <p>Valor Atual: {{ valorAtual }}</p>
        <p>Valor Salvo: {{ valorSalvo }}</p>
      </div>
    </form>
  </div>

  <div
    (mouseover)="onMouseOverOut()"
    (mouseout)="onMouseOverOut()"
    [class.highlight]="isMouseOver"
    >
    Passe o mouse aqui
  </div>
    
  </article>
</section>

<section>
  <article>
    <div class="row">
      <form class="col s12">
        <h3>Two-way data binding</h3>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate"
                  [value]="nome"
                  (input)="nome = $event.target.value"
                  />
          <label for="icon_prefix">Name</label>
        </div>
        <div class="col s4">


        </div>
        
      </form>
          <input type="text"
                  [ngModel]="nome"
                  (ngModelChange)="nome = $event"
                  />
          <input type="text"
                  [(ngModel)]="nome"
                  />
      <div>Você digitou o nome: {{ nome }}</div>
    </div>
  </article>
</section>